{% extends "base.html" %} {% block content %}
<style>
    .rounded-xl-important {
        border-radius: 0.75rem !important;
    }
</style>
<p class="text-5xl text-primary-content text-center mb-4">Create Pawnshop</p>
{% if messages %}
<div
    class="alert alert-success mb-6 p-4 rounded-lg bg-success border-l-4 border-green-500 text-green-800"
>
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<form
    method="POST"
    class="max-w-5xl mx-auto rounded-xl-important p-8 bg-accent shadow-lg space-y-6"
>
    {% csrf_token %}

    <div class="form-group">
        <label
            for="id_name"
            class="text-2xl block font-semibold text-gray-700 mb-4 ml-3"
            >Pawnshop Name</label
        >
        <input
            type="text"
            id="id_name"
            name="name"
            class="input input-bordered bg-neutral block w-full rounded-xl-important text-primary p-4 border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary"
            value="{{ form.name.value|default_if_none:'' }}"
            placeholder="Enter pawnshop name"
        />
        {% if form.name.errors %}
        <div class="text-error text-sm mt-2">
            {% for error in form.name.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-group ml-3">
        <label
            for="id_description"
            class="block text-2xl font-semibold text-gray-700 mb-4 ml-3"
            >Description</label
        >
        <textarea
            id="id_description"
            name="description"
            class="input input-bordered bg-neutral text-primary w-full p-4 rounded-xl-important border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary"
            rows="4"
            placeholder="Enter pawnshop description"
        >
{{ form.description.value|default_if_none:'' }}</textarea
        >
        {% if form.description.errors %}
        <div class="text-error text-sm mt-2">
            {% for error in form.description.errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>

    <div class="form-group text-center">
        <button
            type="submit"
            class="btn btn-primary w-full py-3 rounded-lg text-white font-semibold bg-secondary hover:bg-secondary-dark focus:outline-none focus:ring-2 focus:ring-primary-dark"
        >
            Create Pawnshop
        </button>
    </div>
</form>
<script>
    const themes = [
        'my-light',
        'my-dark',
        'my-candy',
        'my-sea',
        'my-desert',
        'my-magic',
    ];
    let themeIndex = 0;

    function switchTheme() {
        themeIndex = (themeIndex + 1) % themes.length;
        const newTheme = themes[themeIndex];
        document.documentElement.setAttribute('data-theme', newTheme);
        document.cookie = 'theme=' + newTheme + '; path=/';
    }

    let isdiscoToggleOn = false;
    document.addEventListener('DOMContentLoaded', () => {
        const discoToggle = document.querySelector('#disco-toggle'); // Selecting the checkbox using querySelector

        if (discoToggle) {
            discoToggle.addEventListener('change', () => {
                if (discoToggle.checked) {
                    isdiscoToggleOn = true;

                } else {
                    isdiscoToggleOn = false;

                }
            });
        }
    });

    const nameInput = document.getElementById('id_name');
    const descriptionInput = document.getElementById('id_description');

    [nameInput, descriptionInput].forEach((input) => {
        if (input) { // Ensure the input element exists
            input.addEventListener('input', () => {
                // Check if Disco Mode is enabled before switching theme
                if (isdiscoToggleOn) {
                    switchTheme();
                }
            });
        }
            
    });
</script>
{% endblock %}
