{% extends 'base.html' %}

{% block content %}
<h1 class="text-3xl mb-4">Edit Record for {{ pawnshop.name }}</h1>

<form method="POST" class="form">
    {% csrf_token %}
    {{ form.as_p }} <!-- Render the form fields -->
    
    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-full py-3 rounded-lg text-white font-semibold bg-secondary hover:bg-secondary-dark focus:outline-none focus:ring-2 focus:ring-primary-dark">
            Save Changes
        </button>
    </div>
</form>

{% if messages %}
<div class="alert alert-success mb-6 p-4 rounded-lg bg-success border-l-4 border-green-500 text-green-800">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('#id_start_date', {
        dateFormat: 'Y-m-d',
        altInput: true,
        altFormat: 'F j, Y',
        allowInput: true,
        disableMobile: 'true',
    });
    flatpickr('#id_end_date', {
        dateFormat: 'Y-m-d',
        altInput: true,
        altFormat: 'F j, Y',
        allowInput: true,
        disableMobile: 'true',
    });
</script>
{% endblock %}
