{% extends 'base.html' %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-5xl mb-4 text-center text-primary-content">Edit Record</h1>

    <!-- Status Section -->
    <div class="status-section mb-6 p-4 bg-accent rounded-lg shadow-md">
        <h2 class="text-xl font-bold py-2">Record Status</h2>
        <p>
            <strong>Is Active:</strong> 
            <span class="{% if record.active %}text-success{% else %}text-success{% endif %} py-2">
                {{ record.active|yesno:"Active,Inactive" }}
            </span>
        </p>
        <p>
            <strong>Item Status:</strong> 
            <span class="badge {% if record.item_status == 0 %}badge-success{% elif record.item_status == 1 or record.item_status == 3 %}badge-warning{% else %}badge-danger{% endif %} py-2">
                {% if record.item_status == 0 %}In Pawnshop{% elif record.item_status == 1 %}Waiting for Retrieval{% elif record.item_status == 2 %}Retrieved{% elif record.item_status == 3 %}Waiting for Reselling{% elif record.item_status == 4 %}Resold{% else %}Lost{% endif %}
            </span>
        </p>

        <strong>Overdue Status:</strong>
        <span class="{% if is_overdue %}text-error{% else %}text-success{% endif %}">
            {% if is_overdue %}Overdue{% else %}On Time{% endif %}
        </span>
        </p>
    </div>

    <!-- Form Section -->
    <form method="POST" class="form bg-accent p-6 rounded-lg shadow-lg">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group mb-4 flex gap-4">
            <label for="id_name" class="block text-white text-lg font-semibold mt-2"
                >Name</label
            >
            <input
                type="text"
                id="id_name"
                name="name"
                class="input input-bordered block bg-neutral w-full rounded-xl-important text-primary border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary"
                value="{{ form.name.value|default_if_none:'' }}"
                placeholder="Enter record name"
            />
        </div>
    
        <div class="form-group mb-4 flex gap-4">
            <label
                for="id_detail"
                class="block text-white text-lg font-semibold mt-2"
                >Detail</label
            >
            <textarea
                id="id_detail"
                name="detail"
                class="input input-bordered block bg-neutral w-full rounded-xl-important text-primary p-2 border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary"
                rows="1"
                value="{{ form.detail.value|default_if_none:'' }}"
                placeholder="Enter record detail"
            ></textarea>
        </div>

        <div class="form-group mb-4 flex gap-4">
            <label
                for="start-date"
                class="block text-white text-lg font-semibold mt-2"
                >Start Date</label
            >
            <input
                type="text"
                id="start-date"
                name="start_date"
                value="{{ form.start_date.value|date:'Y-m-d'}}"
                class="input input-bordered w-min bg-neutral text-primary"
                placeholder="Select Start Date"
            />
        </div>
    
        <div class="form-group mb-4 flex gap-4">
            <label
                for="end-date"
                class="block text-white text-lg font-semibold mt-2"
                >End Date</label
            >
            <input
                type="text"
                id="end-date"
                name="end_date"
                value="{{form.end_date.value|date:'Y-m-d'}}"
                class="input input-bordered w-min bg-neutral text-primary"
                placeholder="Select End Date"
            />
        </div>
    
        <div class="form-group mb-4 flex gap-4">
            <label
                for="id_loan_amount"
                class="block text-white text-lg font-semibold mt-2"
                >Loan Amount (฿)</label
            >
            <input
                type="number"
                id="id_loan_amount"
                name="loan_amount"
                min="0"
                step="1"
                value="{{ form.loan_amount.value|default:'' }}"
                class="input input-bordered w-min bg-neutral text-primary"
                placeholder="Enter Loan Amount"
            />
        </div>
    
        <div class="form-group mb-4 flex gap-4">
            <label
                for="id_interest_rate"
                class="block text-white text-lg font-semibold mt-2"
                >Interest Rate (%)</label
            >
            <input
                type="number"
                id="id_interest_rate"
                name="interest_rate"
                min="0"
                max="100"
                step="0.1"
                value="{{ form.interest_rate.value|default:5 }}"
                class="input input-bordered w-min bg-neutral text-primary"
                placeholder="Enter Interest Rate"
            />
        </div>
        <div class="form-group mb-4 flex gap-4">
            <label
                for="id_customer"
                class="block text-white text-lg font-semibold mt-2"
                >Select customer</label
            >
            {{ form.customer }} {% if form.customer.errors %}
            <div class="text-error text-sm mt-2">
                {% for error in form.customer.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>



        <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css"
/>

        <!-- Staff -->
        <div class="form-group mb-4 flex gap-4">
            <label for="id_staff" class="block  text-white text-lg font-semibold mt-2">Assigned Staff</label>
            <select name="staff" id="id_staff" class="input input-bordered block bg-neutral w-min rounded-xl-important text-primary p-2 border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary">
                {% for staff_member in staff_list %}
                <option value="{{ staff_member.id }}" {% if staff_member.id == record.staff.id %}selected{% endif %}>
                    {{ staff_member.get_full_name }}
                </option>
                {% endfor %}
            </select>
        </div>


        <div class="form-group mb-4 flex gap-4">
            <label for="id_item_status" class="block  text-white text-lg font-semibold mt-2">Item Status</label>
            <select name="item_status" id="id_item_status" class="input input-bordered block bg-neutral w-min rounded-xl-important text-primary p-2 border-2 border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary focus:border-primary">
                <option value="0" {% if record.item_status == 0 %}selected{% endif %}>In Pawnshop</option>
                <option value="1" {% if record.item_status == 1 %}selected{% endif %}>Waiting for Retrieval</option>
                <option value="2" {% if record.item_status == 2 %}selected{% endif %}>Retrieved</option>
                <option value="3" {% if record.item_status == 3 %}selected{% endif %}>Waiting for Reselling</option>
                <option value="4" {% if record.item_status == 4 %}selected{% endif %}>Resold</option>
                <option value="5" {% if record.item_status == 5 %}selected{% endif %}>Lost</option>
            </select>
        </div>


        <div class="form-group text-center">
            <button type="submit" class="btn btn-secondary w-full py-3 rounded-lg text-white font-semibold hover:btn-primary focus:outline-none focus:ring-2 focus:ring-primary-dark">
                Save Changes
            </button>
        </div>
    </form>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('#start-date', {
        dateFormat: 'Y-m-d',
        altInput: true,
        altFormat: 'F j, Y',
        allowInput: true,
        disableMobile: 'true',
    });
    flatpickr('#end-date', {
        dateFormat: 'Y-m-d',
        altInput: true,
        altFormat: 'F j, Y',
        allowInput: true,
        disableMobile: 'true',
    });
</script>
</div>






<script>
    const themes = [
        'my-light',
        'my-dark',
        'my-candy',
        'my-sea',
        'my-desert',
        'my-magic',
    ];
    let themeIndex = 0;

    function switchTheme() {
        themeIndex = (themeIndex + 1) % themes.length;
        const newTheme = themes[themeIndex];
        document.documentElement.setAttribute('data-theme', newTheme);
        document.cookie = 'theme=' + newTheme + '; path=/';
    }
    const nameInput = document.getElementById('id_name');
    const detailInput = document.getElementById('id_detail');
    const startDateInput = document.getElementById('start-date');
    const endDateInput = document.getElementById('end-date');
    const loanInput = document.getElementById('id_loan_amount');
    const interestInput = document.getElementById('id_interest_rate');



    document.addEventListener('DOMContentLoaded', () => {
        const discoToggle = document.querySelector('#disco-toggle');

        const savedState = localStorage.getItem('isDiscoToggleOn');
        if (savedState !== null) {
            isdiscoToggleOn = JSON.parse(savedState);
            if (discoToggle) {
                discoToggle.checked = isdiscoToggleOn;
            }
        }

        if (discoToggle) {
            discoToggle.addEventListener('change', () => {
                isdiscoToggleOn = discoToggle.checked;
                localStorage.setItem(
                    'isDiscoToggleOn',
                    JSON.stringify(isdiscoToggleOn)
                ); // Store state in localStorage
            });
        }
    });

    // Update the state when the checkbox is toggled

    [
        nameInput,
        detailInput,
        startDateInput,
        endDateInput,
        loanInput,
        interestInput,
    ].forEach((input) => {
        if (input) {
            // Ensure the input element exists
            input.addEventListener('input', () => {
                // Check if Disco Mode is enabled before switching theme
                if (isdiscoToggleOn) {
                    switchTheme();
                }
            });
        }
    });
</script>



{% endblock %}


