{% extends "base.html" %} {% block content %}
<div class="flex items-center justify-between mb-4">
    <h1 class="text-3xl text-primary-content mb-4">
        Pawnshop Records in {{pawnshop.name}}
    </h1>
    <div class="flex space-x-4">
        <a
            href="{% url 'monthly_statistics' pawnshop_id=pawnshop.id%}"
            class="btn btn-info"
        >
            Statistics
        </a>
        {% if request.user.profile.role == "customer" %}
        <div>
            <a
                href="{% url 'yearly_report' pawnshop_id=pawnshop.id%}"
                class="btn btn-success"
            >
                Yearly Report
            </a>
        </div>
        {% endif %}
    </div>
    <form
        method="get"
        action="{% url 'record_index' pawnshop_id=pawnshop.id%}"
        class="flex items-center space-x-2 max-w-screen"
    >
    <div class="dropdown">
        <label tabindex="0" class="btn btn-success m-1 hover:brightness-50">Month</label>
        <ul class="dropdown-content menu p-2 shadow bg-neutral text-primary rounded-box w-min z-10">
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=">All</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=1">January</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=2">February</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=3">March</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=4">April</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=5">May</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=6">June</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=7">July</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=8">August</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=9">September</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=10">October</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=11">November</a></li>
            <li><a href="?q={{ query|default:'' }}&s={{ status_filter|default:'' }}&m=12">December</a></li>
        </ul>
    </div>
    <div class="dropdown">
        <label tabindex="0" class="btn btn-info m-1 hover:brightness-50">Status</label>
        <ul class="dropdown-content menu p-2 shadow bg-neutral text-primary rounded-box w-min z-10">
            <li><a href="?q={{ query|default:'' }}&s=&m={{ month_filter|default:'' }}">All</a></li>
            <li><a href="?q={{ query|default:'' }}&s=0&m={{ month_filter|default:'' }}">Item is in Pawnshop</a></li>
            <li><a href="?q={{ query|default:'' }}&s=1&m={{ month_filter|default:'' }}">Waiting for retrieval</a></li>
            <li><a href="?q={{ query|default:'' }}&s=2&m={{ month_filter|default:'' }}">Retrieved</a></li>
            <li><a href="?q={{ query|default:'' }}&s=3&m={{ month_filter|default:'' }}">Waiting for reselling</a></li>
            <li><a href="?q={{ query|default:'' }}&s=4&m={{ month_filter|default:'' }}">Resold</a></li>
            <li><a href="?q={{ query|default:'' }}&s=5&m={{ month_filter|default:'' }}">Lost</a></li>
        </ul>
    </div>
        <label>
            <input
                type="text"
                name="q"
                value="{{ query|default:'' }}"
                placeholder="Search records"
                class="input input-bordered bg-neutral text-primary w-full"
            />
        </label>
        <input type="hidden" name="s" value="{{ status_filter|default:'' }}" />
        <input type="hidden" name="m" value="{{ month_filter|default:'' }}" />
        <button type="submit" class="btn btn-accent">Search</button>
    </form>
</div>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 z-0">
    {% if request.user.profile.role == "staff" %}
    <div class="card bg-accent shadow-lg p-8 flex items-center justify-center">
        <div class="card-body text-center">
            <h2 class="text-3xl text-white">+</h2>
            <p class="text-white">Create New Record</p>
            <div class="card-actions justify-center">
                <a
                    href="{% url 'create_record' pawnshop_id=pawnshop.id%}"
                    class="btn btn-primary"
                >
                    Create
                </a>
            </div>
        </div>
    </div>
    {% endif %} {% for record in records %}
    <div
        class="card shadow-lg p-4 {% if record.item_status == 0 %} bg-secondary {% elif record.item_status == 1 %} bg-accent {% elif record.item_status == 2 %} bg-success {% elif record.item_status == 3 %} bg-warning {% elif record.item_status == 4 %} bg-info {% elif record.item_status == 5 %} bg-error {% endif %}"
    >
        <div class="card-body">
            <h2 class="text-2xl">{{ record.name }}</h2>
            <p class="text-primary-content">
                Loan Amount: {{ record.loan_amount }} ฿
            </p>
            <p class="text-primary-content">
                End Date: {{ record.end_date|date:"D. M. jS Y" }}
            </p>
            <div class="card-actions justify-end">
                <a
                    href="{% url 'record_detail' pawnshop_id=record.pawnshop.id record_id=record.id %}"
                    class="btn btn-neutral hover:btn-primary"
                    >View</a
                >
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
