{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en" data-theme="{{ request.COOKIES.theme|default:'my-light' }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Pawnshop DB{% endblock %}</title>
        {%tailwind_css%}
    </head>
    <body class="bg-primary">
        <header class="bg-base-200 shadow">
            <nav
                class="container mx-auto p-4 flex justify-between items-center"
            >
                <ul class="flex space-x-4">
                    <li>
                        <a href="{% url 'index' %}" class="text-primary"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a href="{% url 'admin:index' %}" class="text-primary"
                            >Admin</a
                        >
                    </li>
                </ul>
                <button id="theme-toggle" class="btn btn-secondary">◐</button>
            </nav>
        </header>

        <main class="container mx-auto p-4">
            {% block content %}
            <!-- Page-specific content goes here -->
            {% endblock %}
        </main>

        <footer class="bg-base-100 p-4 text-center">
            <p>Powered by Trinity Pawnshop 2024</p>
        </footer>

        <script>
            const themeToggle = document.getElementById('theme-toggle');
            const theme = [
                'my-dark',
                'my-light',
                'my-candy',
                'my-sea',
                'my-desert',
                'my-magic',
            ];
            let currentThemeIndex = 0;
            themeToggle.addEventListener('click', () => {
                const currentTheme =
                    document.documentElement.getAttribute('data-theme');
                currentThemeIndex = (currentThemeIndex + 1) % theme.length;
                const newTheme = theme[currentThemeIndex];
                document.documentElement.setAttribute('data-theme', newTheme);

                document.cookie = 'theme=' + newTheme + '; path=/';
            });
        </script>
    </body>
</html>
